.section {
  background: linear-gradient(180deg, #f4f4f4 20.35%, #ebebeb 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1;
  width: 100%;
}

.header {
  color: var(--, #000);
  text-align: center;
  font-family: 'RF Dewi Extended';
  font-style: normal;
  font-weight: 700;
  line-height: 128%;
  align-self: stretch;
  margin-bottom: 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headerTop,
  .headerBottom {
    font-size: 36px;
  }

  @media (max-width: 1300px) {
    .headerTop,
    .headerBottom {
      font-size: 32px;
    }
  }

  @media (max-width: 920px) {
    .headerTop,
    .headerBottom {
      font-size: 28px;
    }
  }

  @media (max-width: 650px) {
    text-align: left;
    align-items: flex-start;
    margin-bottom: 30px;

    .headerTop,
    .headerBottom {
      font-size: 24px;
    }
  }
}

.columnDiv {
  text-align: center;
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px;
  }
}

.imageContainer {
  position: relative;
  margin-top: 50px;
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: visible;
  @media (max-width: 650px) {
    display: none;
  }
}

.imageContainerMobile {
  position: relative;
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: visible;
  @media (min-width: 650px) {
    display: none;
  }
}

.image {
  width: auto;
  height: auto;
  transform: translateY(700px);
  animation: floatUp 2s forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  margin-bottom: 0;
  max-width: 100%;
  overflow: hidden;
}

.image1 {
  position: absolute;
  width: 15%;
  max-width: 222px;
  animation-delay: 0.3s;
  z-index: 3;
  left: 7%;
}

.imageFirstMobile {
  position: absolute;
  z-index: 3;
  width: 74%;
  left: 30%;
}

.image2 {
  width: 50%;
  margin-left: 10%;
  max-width: 500px;
  animation-delay: 0.7s;
  z-index: 2;
}

.imageSecondMobile {
  margin-left: 30%;
  width: 100%s;
  animation-delay: 0.7s;
  z-index: 2;
}

.image3 {
  position: absolute;
  width: 50%;
  max-width: 500px;
  animation-delay: 1.1s;
  z-index: 1;
  right: 10%;
}

.imageThirdMobile {
  position: absolute;
  left: 75%;
  top: -15%;
  z-index: 3;
}

.image4 {
  position: absolute;
  width: 12%;
  max-width: 168px;
  animation-delay: 1.5s;
  right: 7%;
  top: 50%;
  z-index: 4;
}

@keyframes floatUp {
  0% {
    transform: translateY(500px);
  }
  60% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
