.button {
  display: inline-flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 7.564px;
  background-color: #e72c12;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

.text {
  display: inline-flex;
  color: white;
  font-family: 'RF Dewi Extended';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  @media (max-width: 1300px) {
    font-size: 18px;
  }
  @media (max-width: 920px) {
    font-size: 16px;
  }
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 120%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: skewX(-20deg);
  animation: shine 7s infinite linear;
}

.button:hover {
  transform: scale(1.05);
}

.button.animated.visible:hover {
  transform: translateY(0) scale(1.05);
}

.animated {
  opacity: 0;
  transform: translateY(50px);
}

.animated.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes shine {
  0% {
    left: -100%;
  }
  40% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
