.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 128px 0px 128px;
  @media (max-width: 1300px) {
    padding: 130px 90px 0px 90px;
  }
  @media (max-width: 1100px) {
    padding: 66px 66px 0px 66px;
  }
  @media (max-width: 920px) {
  }
  @media (max-width: 650px) {
    padding: 60px 20px 0px 20px;
  }
}

.header {
  text-align: left;
  color: #000;
  font-family: 'RF Dewi Extended';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 40px */
  max-width: 500px;
  margin: 0;
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  @media (max-width: 920px) {
    font-size: 28px;
  }
  @media (max-width: 650px) {
    font-size: 20px;
  }
}

.header.visible {
  opacity: 1;
  transform: translateY(0);
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
  @media (max-width: 920px) {
    display: flex;
    flex-direction: column;
  }
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

.feature.visible {
  opacity: 1;
  transform: translateY(0);
}

.icon {
  width: 55px;
  height: 55px;
}

.featureTitle {
  color: #000;
  font-family: 'RF Dewi Extended';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  @media (max-width: 1300px) {
    font-size: 22px;
  }
  @media (max-width: 650px) {
    font-size: 20px;
  }
}

.featureDescription {
  color: #000;
  font-family: 'RF Dewi';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  opacity: 0.5;
  margin: 0;
  margin-top: 15px;
  @media (max-width: 1300px) {
    font-size: 18px;
  }
  @media (max-width: 650px) {
    font-size: 16px;
  }
}
