.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  @media (max-width: 1100px) {
    display: none;
  }
}

.image {
  width: 80%;

  @media (max-width: 1500px) {
    width: 90%;
  }
}

.imageWrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

.tumblerTop {
  position: absolute;
  top: 13.5%;
  right: 18%;
  transform: scale(0.9);
}

.tumblerWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  bottom: 13%;
}

.tumblerBottom {
  transform: scale(0.8);
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  position: absolute;
  margin-bottom: 100px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &:nth-child(1) {
    .sliderIcon {
      transform: translateY(-119px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-112px) !important;
      }
    }
    .sliderTop::after {
      height: 132px !important;
      @media (max-width: 1220px) {
        height: 124px !important;
      }
    }
  }
  &:nth-child(2) {
    .sliderIcon {
      transform: translateY(-170px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-160px) !important;
      }
    }
    .sliderTop::after {
      height: 183px !important;
      @media (max-width: 1220px) {
        height: 172px !important;
      }
    }
  }
  &:nth-child(3) {
    .sliderIcon {
      transform: translateY(-64px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-60px) !important;
      }
    }
    .sliderTop::after {
      height: 77px !important;
      @media (max-width: 1220px) {
        height: 72px !important;
      }
    }
  }
  &:nth-child(4) {
    .sliderIcon {
      transform: translateY(-200px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-188px) !important;
      }
    }
    .sliderTop::after {
      height: 213px !important;
      @media (max-width: 1220px) {
        height: 200px !important;
      }
    }
  }
  &:nth-child(5) {
    .sliderIcon {
      transform: translateY(-153px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-144px) !important;
      }
    }
    .sliderTop::after {
      height: 166px !important;
      @media (max-width: 1220px) {
        height: 156px !important;
      }
    }
  }
}

.sliderTop {
  width: 15px;
  border-radius: 10px;
  background-color: #d9d9d9;
  height: 265px;
  opacity: 0.7;
  position: relative;
  overflow: hidden;

  @media (max-width: 1220px) {
    height: 240px !important;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #7b7b7b;
    transition: height 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10px 10px 0 0;
  }
}

.sliderIcon {
  width: 30px;
  height: 30px;
  background: url('@assets/icons/remote-circle.svg') no-repeat center center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.slider.visible {
  &:nth-child(1) {
    .sliderIcon {
      transform: translateY(-153px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-134px) !important;
      }
    }
    .sliderTop::after {
      height: 166px !important;
      @media (max-width: 1220px) {
        height: 145px !important;
      }
    }
  }
  &:nth-child(2) {
    .sliderIcon {
      transform: translateY(-170px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-148px) !important;
      }
    }
    .sliderTop::after {
      height: 183px !important;
      @media (max-width: 1220px) {
        height: 158px !important;
      }
    }
  }
  &:nth-child(3) {
    .sliderIcon {
      transform: translateY(-187px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-162px) !important;
      }
    }
    .sliderTop::after {
      height: 200px !important;
      @media (max-width: 1220px) {
        height: 172px !important;
      }
    }
  }
  &:nth-child(4) {
    .sliderIcon {
      transform: translateY(-200px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-172px) !important;
      }
    }
    .sliderTop::after {
      height: 213px !important;
      @media (max-width: 1220px) {
        height: 182px !important;
      }
    }
  }
  &:nth-child(5) {
    .sliderIcon {
      transform: translateY(-213px) !important;
      @media (max-width: 1220px) {
        transform: translateY(-182px) !important;
      }
    }
    .sliderTop::after {
      height: 226px !important;
      @media (max-width: 1220px) {
        height: 193px !important;
      }
    }
  }
}
.orbitsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 150px;

  @media (max-width: 1400px) {
    bottom: 220px;
  }

  @media (max-width: 1350px) {
    bottom: 230px;
    transform: scale(0.95) !important;
  }

  @media (max-width: 1170px) {
    transform: scale(0.9) !important;
    bottom: 250px;
  }
}

.orbit {
  position: relative;
  transform: rotate(-110deg);
  svg {
    width: 84px;
    height: 84px;
  }

  .orbitPath {
    stroke-dasharray: 251.2;
    stroke-dashoffset: -146.5;
    transform-origin: 42px 42px;
  }

  .orbitDot {
    transform-origin: 42px 42px;
    transform: rotate(-210deg);
  }
}

.orbit.visible {
  .orbitPath {
    animation: fillOrbit 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  .orbitDot {
    animation: moveOrbitDot 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

@keyframes fillOrbit {
  from {
    stroke-dashoffset: -146.5;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes moveOrbitDot {
  from {
    transform: rotate(-210deg);
  }
  to {
    transform: rotate(0deg);
  }
}
