@font-face {
  font-family: 'RF Dewi';
  src: url('./fonts/RFDewi-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'RF Dewi';
  src: url('./fonts/RFDewi-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'RF Dewi';
  src: url('./fonts/RFDewi-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'RF Dewi Extended';
  src: url('./fonts/RFDewiExtended-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'RF Dewi Extended';
  src: url('./fonts/RFDewiExtended-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'RF Dewi Extended';
  src: url('./fonts/RFDewiExtended-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Onest Regular';
  src: url('./fonts/Onest-Regular.ttf') format('truetype');
  font-weight: 600;
}
