.container {
  background: linear-gradient(180deg, #fff 24.79%, #f3f3f3 100%);

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 140px 128px 150px 128px;
  @media (max-width: 1300px) {
    padding: 130px 90px 130px 90px;
  }
  @media (max-width: 1100px) {
    padding: 120px 66px 120px 66px;
  }
  @media (max-width: 920px) {
    padding: 75px 66px 80px 66px;
  }
  @media (max-width: 650px) {
    padding: 60px 20px 80px 20px;
  }
}

.headerWrapper {
  width: 100%;
  text-align: left;
  max-width: 1280px;
  margin-bottom: 50px;
  @media (max-width: 650px) {
    margin-bottom: 30px;
  }
}

.header {
  text-align: left;
  color: var(--, #000);
  font-family: 'RF Dewi Extended';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 40px */
  max-width: 670px;
  margin: 0;
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  @media (max-width: 920px) {
    font-size: 28px;
  }
  @media (max-width: 650px) {
    font-size: 20px;
  }
}

.header.visible {
  opacity: 1;
  transform: translateY(0);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.25fr;
  gap: 28px;

  max-width: 1280px;
  width: 100%;
  @media (max-width: 980px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.card {
  display: flex;
  align-items: center;
  background: #fff;

  padding: 30px 42px;
  background: #fff;
  box-shadow: 0px 5px 19.9px 0px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s;
  gap: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  @media (max-width: 1300px) {
    padding: 30px 32px;
  }
  @media (max-width: 650px) {
    padding: 16px;
  }
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  width: 60px;
  height: auto;
  @media (max-width: 650px) {
    width: 40px;
  }
}

.title {
  color: #000;
  font-family: 'RF Dewi Extended';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  /* 27.5px */
  @media (max-width: 1300px) {
    font-size: 22px;
  }
  @media (max-width: 920px) {
    font-size: 20px;
  }
  @media (max-width: 650px) {
    font-size: 18px;
  }
}
